<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Where's the water</title>
<style>
body{margin:auto;text-align:center;}
input{font-size:3vw;}
#search{background-color: #4CAF50;border: none;color:white;padding: 5px 12px;}
.lead{font-size:4vw;}
</style>
<script src="libraries\p5.js"></script>
<script src="<%= js %>"></script>
</head>
<body>
<input id="start" type="date" value="2017-03-01"/> <b class="lead">~</b> <input id="end" type="date" value="2017-03-15"/>
<input type="button" id="search" value="Search"/>
<a href="?app=<%= id %>" class="lead"><b>Next</b></a>
<div id="canvas"><h1 id="prompt"></h1></div>
<div id="px"></div>
<br />
</body>
</html>
