<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Where's the water</title>
<style>
body{margin:auto;text-align:center;}
input{font-size:3vw;}
#search{background-color: #4CAF50;border: none;color:white;padding: 5px 12px;}
</style>
<script src="libraries\p5.js"></script>
<script src="apps.js"></script>
</head>
<body>
<div id="canvas"></div>
<input id="start" type="date" value="2017-04-01"/> ~ <input id="end" type="date" value="2017-04-28"/>
<input type="button" id="search" value="Search"/>
<br />
</body>
</html>
